<footer class="grid">

  <!-- Column 1 -->
  <div class="col-6_sm-12">
    <img class="logo size" src="/images/logo.png" alt="Brand Name Here">
    <p>Global Urban Marketing Encourages That Showing Off Is Okay, Shout Out And Express Yourself! <br/> Any Inquiries Or Questions, Please Don't Hesitate To Contact Us Through Email: Timothy@GlobalUrbanMarketing.com</p>
  </div>

  <!-- Column 2 -->
  <div class="col-3_sm-6_xs-12">
    <nav>
      <a href="/index"> Home </a>
      <a href="/about"> About </a>
      <a href="/blog"> Blog </a>
      <a href="/contact"> Contact </a>
    </nav>
  </div>

  <!-- Column 3 -->
  <div class="col-3_sm-6_xs-12">
    <nav class="social-nav">
      <!-- add your social links here -->
      <a href="https://www.facebook.com/timothy.yeav"> <i class="fa fa-facebook"></i></a>
      <a href="https://www,instagram.com/l_a_v_i_s_h_l_y"> <i class="fa fa-instagram"> </i></a>
      <a href="https://twitter.com/Nomadic_Tim"> <i class="fa fa-twitter"></i></a>
    </nav>
  </div>

</footer>
