---
layout: default
title:
---

<section class="tall grid">

  <div class="col-8_sm-12 post-body">
      <h1> {{page.title}} </h1>
      <p class="post-meta">{{page.date | date_to_string }} | Written by {{page.author}}</p>
      <img class="full-width" src="{{page.image_path}}">

      {{content}}

      <hr>

      <div class="social-share">
        <h4> Did you <i class="fa fa-heart featured"></i> this? Share it on ... </h4>
        <nav>
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
                <i class="fa fa-facebook"></i>
            </a>
        </nav>
      </div>
  </div>
</section>
